/* styles/modal-form.module.css */

.inputGroup {
  position: relative;
  width: 45%;
}

.input {
  position: relative;
  border: solid 1.5px #9e9e9e;
  border-radius: 5px;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  width: 100%;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.userLabel {
  position: absolute;
  left: 15px;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Use more specific class names or local scopes */
.input:focus,
.input:valid {
  outline: none;
}

.input:focus ~ .userLabel,
.input:valid ~ .userLabel {
  transform: translateY(-50%) scale(0.8);
  font-style: bold;
  padding: 0 0.2em;
}

@media only screen and (max-width: 640px) {
  .inputGroup {
    width: 100%;
  }
}
